/* plyr.css */
:root {
    --plyr-color-main: #54C5C0; /* Replace with your desired color */
}
/* Customize the played progress bar color */
.plyr--video .plyr__progress--played {
    background-color: #54C5C0 !important; /* Replace with your desired color */
}
  
  /* Customize the control button color */
  .plyr--video .plyr__controls .plyr__control.plyr__control--overlaid {
    color: #54C5C0 !important; /* Replace with your desired color */
    margin-top: 0;
}

.plyr__controls .plyr__control {
    margin-top: 0;
    height: auto;
}
  
  /* Customize the control button hover background color */
  .plyr--video .plyr__controls .plyr__control.plyr__control--hover,
  .plyr--video .plyr__controls .plyr__control:hover button {
    background-color: #54C5C0 !important; /* Replace with your desired color */
}
  /* Customize the picture-in-picture button color */
  .plyr--pip-supported .plyr__control--pip {
    color: #54C5C0 !important; /* Replace with your desired color */
}
  